/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   body {
    margin:0;
    padding-top: 70px;
  }

  .entry {
    display: inline-block !important;
    vertical-align: middle !important;
  }